<div class="mt-4">
    <h3>My Courses</h3>
    <table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course's Name</th>
      <th scope="col">Level</th>
      <th scope="col">Date Created</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{this.name}}</td>
      <td>{{this.level}}</td>
      <td>{{this.createdAt}}</td>
    </tr>
   {{/each}}
  </tbody>
</table>
</div>